*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #fcfcfc;
}

a{
    text-decoration: none;
    color:inherit
}

hr{
    border: 0;
    height: 1px;
    background-color: #a9a9a9;
}